@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&display=swap");
body {
  font-family: 'Roboto', sans-serif; }

p {
  font-family: 'Open Sans', sans-serif; }

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}



#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
 
    border: 3px solid transparent;
    border-top-color: #3498db;
    z-index: 1000000;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
animation: spin 1.5s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;

}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 10000;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
}

/*heading*/
.heading {
  margin-bottom: 45px; }
  .heading h1 {
    color: #000;
    margin-bottom: 0; }
  .heading h4 {
    color: #000;
    margin-bottom: 0; }
  .heading span {
    width: 45px;
    height: 5px;
    display: block !important;
    background-color: #000;
    margin: 10px auto; }

/*heading*/
header {
  background-color: #f0f2f4; }
  header .social ul li {
    margin-left: 10px;
    font-weight: 700;
    text-align: center; }
    header .social ul li i {
      font-size: 22px;
      cursor: pointer; }
    header .social ul li i.icofont-facebook {
      background-color: #1287bf;
      color: #fff;
      width: 28px;
      height: 26px;
      display: block;
      line-height: 26px;
      border-radius: 3px;
      font-size: 18px; }
  header .social span {
    width: 1px;
    height: 45px;
    display: block;
    background-color: #e2e2e2;
    margin-left: 20px;
    margin-right: 10px; }

.navbar {
  background-color: #fff;
  font-family: 'Helvetica';
  padding: 45px 0;
  transition: all 0.4s ease; }

.navbar.menuSize {
  padding: 15px 0 !important;
  background-color: #000; }

.navbar-brand img {
  margin-top: 5px;
  margin-right: 10px; }

.logo-content h1 {
  font-size: 37px;
  font-weight: 700;
  margin: 0;
  padding: 0; }
.logo-content p {
  font-size: 15px;
  margin: 0;
  margin-left: 8px; }

ul.navbar-nav li {
  margin-left: 20px;
  position: relative; }
  ul.navbar-nav li a {
    font-size: 17px;
    position: relative;
    transition: all 0.2s ease; }
    ul.navbar-nav li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #de2b24;
      transform: scale(0);
      transition: all 0.4s ease; }
    ul.navbar-nav li a:hover {
      color: #de2b24 !important; }
      ul.navbar-nav li a:hover::after {
        transform: scale(1); }
  ul.navbar-nav li::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #000;
    top: 50%;
    left: -10px;
    transform: translateX(-50%);
    border-radius: 50%; }
  ul.navbar-nav li:first-child {
    margin-left: 0 !important; }
    ul.navbar-nav li:first-child::after {
      display: none; }
  ul.navbar-nav li:last-child a {
    background-color: #de2b24;
    color: #fff !important;
    padding: 8px 20px !important;
    display: block;
    border-radius: 7px;
    margin-left: 30px;
    transition: all 0.3s linear; }
    ul.navbar-nav li:last-child a:hover {
      background: none;
      color: #de2b24 !important; }

.img-wrapper {
  position: relative;
  overflow: hidden; }
  .img-wrapper img {
    animation-name: imgScale;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: scale(1); }

@keyframes imgScale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .banner-text h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0; }
  .banner-text p {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px; }
  .banner-text button {
    background-color: #f8cd53;
    padding: 15px 40px;
    outline: 0;
    border: 0;
    font-weight: 700; }

.about-us-section {
  padding-top: 100px;
  padding-bottom: 125px; }
  .about-us-section .about-us h2 {
    margin-top: 25px;
    font-weight: 700;
     }
  .about-us-section .about-us p {
    max-width: 300px;
    margin: auto; }

.approach-section {
  background-color: #f3f3f3;
  padding-top: 90px;
  padding-bottom: 45px; }
  .approach-section img {
    height: 226px; }
  .approach-section .row {
    margin-bottom: 40px; }
  .approach-section .approach-img {
    position: relative; 
    height: 100%;
  }
    .approach-section .approach-img img {
      display: block;
      width: 100%; 
      height: 100%;
    }
    .approach-section .approach-img .step {
      position: absolute;
      right: -15%;
      color: #fff;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      background: #de2b24;
      padding: 6px 35px;
      border: 2px solid #fff;
      border-radius: 8px; }
      .approach-section .approach-img .step h1 {
        margin-bottom: 0;
        font-size: 60px;
        font-weight: 700; }
      .approach-section .approach-img .step h3 {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 400; }
    .approach-section .approach-img .step-2, .approach-section .approach-img .step-4 {
      right: 84%; }
  .approach-section .approach-text {
    background-color: #fff;
    padding: 57px 90px; }
    .approach-section .approach-text h2 {
      font-size: 18px;
      font-weight: 700; }
    .approach-section .approach-text p {
      font-size: 15px;
      font-weight: 400;
      max-width: 650px;
      margin-left: auto; }

.shadow-sm {
    box-shadow: 0 .125rem 1.25rem rgba(0,0,0,.075)!important;
}
.our-work-section {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  background-color: #de2b24; }
  .our-work-section .heading h1 {
    color: #fff;
    font-weight: 700; }
  .our-work-section .heading h4 {
    color: #ffffffdb;
    font-weight: 300; }
  .our-work-section .heading span {
    background-color: #fff; }
  .our-work-section .our-work {
    position: relative;
    height: 100%;
    cursor: pointer; }
    .our-work-section .our-work::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      background-color: #f35e59;
      transition: all 0.5s ease; }
    .our-work-section .our-work .work-caption {
      position: absolute;
      top: 20%;
      left: 50%;
      z-index: 99;
      color: #fff;
      text-align: center;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.5s ease; }
      .our-work-section .our-work .work-caption h2 {
        font-size: 26px;
        margin: 0; }
      .our-work-section .our-work .work-caption p {
        font-size: 16px;
        margin: 0; }
      .our-work-section .our-work .work-caption img {
        width: 30px;
        margin-bottom: 20px; }
    .our-work-section .our-work:hover::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #f35e59; }
    .our-work-section .our-work:hover .work-caption {
      opacity: 1;
      top: 50%; }

.our-work img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.contact-section {
  padding: 100px 0; }
  .contact-section .heading h1 {
    color: #fff;
    font-weight: 700; }
  .contact-section button {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
    .contact-section button img {
      width: 20px;
      height: 20px; }
    .contact-section button:hover {
      background-color: transparent; }

.heading {
  color: #fff; }

.btn-custom {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -25px;
  right: -35px; }

.contact-section {
  background-color: #1287bf; }

form {
  padding: 20px;
  text-align: center; }

.card-body p {
  padding: 42px;
  text-align: center;
  font-size: 18px; }

.form-control {
  border: 2px solid #1287bf;
  padding: 20px 15px;
  width: 80%;
  margin: auto; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    border: 2px solid #1287bf;
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25); }

.btn-submit {
  background-color: red;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px; }

.card-body {
  margin-top: 100px;
  position: relative; }
  .card-body::after {
    position: absolute;
    content: "";
    top: -10px;
    left: 50%;
    border-bottom: 45px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid #00800000;
    transform: translateX(-50%);
    animation-name: Move;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: both; }

@keyframes Move {
  from {
    top: -10px; }
  to {
    top: -40px; } }
.get-in-touch-section {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
  text-align: center;
  background-color: #2a2a2a;
  color: #fff; }
  .get-in-touch-section .social-icons {
    margin-top: 15px;
    margin-bottom: 35px; }
    .get-in-touch-section .social-icons ul li {
      margin-right: 20px; }
      .get-in-touch-section .social-icons ul li a {
        color: #fff;
        border: 2px solid #515151;
        width: 50px;
        height: 45px;
        line-height: 35px; }
        .get-in-touch-section .social-icons ul li a i {
          font-size: 20px; }
      .get-in-touch-section .social-icons ul li:last-child {
        margin-right: 0; }
  .get-in-touch-section p {
    color: #cecece;
    margin-bottom: 40px; }
  .get-in-touch-section input {
    background-color: #515151;
    border: 0;
    color: #cecece; }
    .get-in-touch-section input:focus {
      background-color: #515151;
      border: 0;
      box-shadow: 0 0 0 0 !important;
      color: #cecece; }

footer {
  background-color: #515151;
  text-align: center;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
button.navbar-toggler{
  border: none !important;
    border-radius: 0 !important;
}


  button.navbar-toggler span{
    width: 30px;
    height: 2px;
    display: block;
    background-color: #000;
    margin-bottom: 10px;
    transition: all 0.4s ease;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0 !important;
  }

  button.navbar-toggler span.menuWhite{

  background-color: #fff;
}

button.navbar-toggler:focus span{
  background-color: #de2b24 !important;
}
button.navbar-toggler:hover span:first-child{

          transform: translate(1px,12px) rotate(45deg);
         
}

button.navbar-toggler:hover span:last-child{

          transform: translate(-1px, -12px) rotate(-45deg);
         
}